* {
  background-color: black;
}

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');


h1 {
  font-family: 'Fira Mono', monospace;
  font-size: 11vh;
  color: white;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 50px;
  animation: glitch-animation 1s linear infinite;
  letter-spacing: -4px;
}

label {
  font-family: 'Boogaloo', cursive;
  color: white;
  font-size: 160%;
}

p {
  font-family: 'Special Elite';
  color: white;
  background-color: transparent;
  padding: 15px;
  overflow: visible;
  text-align: left;
  background-image: url("cookie-1.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.fortune {
  /* background-image: src('cookie-1.png'); */
}

button , input {
  background-color: white;
  padding: 10px 24px;
}

/* .fortune-button-div button {
  background-color: rgb(242, 242, 242, 80%);
  color: black;
  font-size: 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
} */

.fortune-button-div img {
  width: 70px;
  margin-right: -20%,
}

.fortune-button-div {
  display: inline;
  flex-direction: row;
  /* flex-direction: row; */
}

.inputs {
  display: grid;
  justify-content: center;
  grid-template-columns: 1, 1fr;
  grid-row-gap: 50px;

}

/* https://codepen.io/pgalor/pen/OeRWJQ */

div{
  animation: glitch 1s linear infinite;
}

@keyframes glitch-animation{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg);
  }
}

div:before,
div:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

div:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg);
  }
}

div:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg);
  }
}
